body {
    background-color: #eee;
}

table {
    width: 100%;
    background-color:#fff;
    border-collapse: collapse;
}

tr:nth-child(even) { /* Par o impoar EVEN y ODD */
    background-color:#f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #4CAF50;
    color: #fff;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}